
@media screen and (max-width:990px) {
    .img-logo{
        display: none;
    }
}


@media screen and (max-width:760px){
    .container{
        flex-direction: column;
    }
    .cadastro{
        flex-direction: column;
    }
    .cadastro h2{
        font-size: 38px;
    }
    .form{
        margin: 0 auto;
        width: 100%;
    }
    input{
        align-self: center;
    }
    img{
        width: 350px;
        /* margin-top: 100px; */
    }
    ul{
        text-align: center;
    }
    .img-logo{
        display: none;
    }
}