body{
    background-color: rgb(34,34,34);
    color: #fff;
    font-family: 'Edu VIC WA NT Beginner', "cursive", sans-serif;
    max-width: 1200px;
    padding: 15px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    


}

.container .title{
    flex-direction: column;
    
}
.container ul li{
    display: inline-block;
    margin: 20px;
}
a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
a:hover{
    color: #12d612;
}

.container .title h1{
    font-weight: 200;
    font-size: 50px;
}
.container h2{
    font-size: 35px;
    font-weight: bold;
}
.cadastro{
    display: flex;
    flex-direction: row;
    margin-top: 75px;


}

.img-logo{
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    
}


.cadastro h2{
    font-size: 45px;
    /* line-height: 10px; */
    font-weight: 200;
}
.cadastro  span{
    color: #12d612;
    transition: 0.3s all;
}

.cadastro p{
    /* line-height: 20px; */
    max-width: 550px;
    font-size: 20px;
    margin: 25px;
}

img{
    width: 450px;
    margin-bottom: 56px;
    
}

#inscreva-se-btn{
    border: 2px solid #12d612;
    border-radius: 5px;
    padding: 10px;
}
#inscreva-se-btn:hover{
    background-color: #12d612;
    color: #fff;

}

.cadastro .form{
    display: flex;
    flex-direction: column;
    width: 90%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #12d612;
    color: #fff;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 22px;
    border: none;
    font-size: 15px;
}

